<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chappie.ladang">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InfoActivity"></activity>
        <activity android:name=".ScoreActivity" />
        <activity android:name=".RuleActivity" />
        <activity
            android:name=".DetailStudyActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".StudyActivity" />
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".PracticeActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>